<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Reset Password</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <form name="resetForm" class="form-horizontal">
                    <div style="margin-bottom: 25px" class="form-group">
                        <label for="userEmail">User Email:</label>
                        <input ng-model="qmeReset.userEmail" name="userEmail" id="userEmail" style="width:500px;" maxlength="128" min="5" type="email" placeholder="email@example.com" class="form-control" ng-required="true">
                    </div>
                    <div style="margin-bottom: 25px" class="form-group">
                        <label for="userPassword">User Password:</label>
                        <input ng-model="qmeReset.userPassword"  id="userPassword" style="width:500px;" maxlength="128" min="5" type="password" placeholder="password" class="form-control" ng-required="true">
                    </div>
                    <div style="margin-bottom: 25px" class="form-group">
                        <label for="userPasswordConfirm">Confirm User Password:</label>
                        <input ng-model="qmeReset.userPasswordConfirm" id="userPasswordConfirm" style="width:500px;" maxlength="128" min="5" type="password" placeholder="confirm password" class="form-control" ng-required="true" ng-model-options="{ updateOn: 'blur' }" ng-change="qmeReset.validatePasswordFields()">
                    </div>
                    <button id="submitResetButton" type="submit" class="btn btn-info btn-sm" ng-click="qmeReset.submitResetPassword()" ng-disabled="resetForm.$invalid">Submit</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="resetButton" type="reset" class="btn btn-info btn-sm">Reset</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </form>
            </div>
        </div>
    </div>
</div>