input.ng-invalid.ng-dirty {
    border-color: red;
}
input.ng-valid.ng-dirty {
    border-color: green;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.navbar.navbar-static-top + .navbar.navbar-static-top {
    margin-top: -20px;
    z-index: auto;
}
