<div class="container-fluid" ng-controller="qmeUserManagementCtrl as qmeUserManagement">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">User List</h3>
        </div>
        <div class="panel-body">
            <qme-page ng-if="qmeUserManagement.recordsLoaded()" qme-totalcount="qmeUserManagement.totalRecords()" qme-pagingfunction="qmeUserManagement.pageUsers"></qme-page>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-dblClick="qmeUserManagement.setSortField('userName')">User Name  <span ng-if="qmeUserManagement.isSortAsc('userName')" ng-click="qmeUserManagement.sortDesc('userName')" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="(qmeUserManagement.isSortDesc('userName'))" ng-click="qmeUserManagement.sortAsc('userName')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th ng-dblClick="qmeUserManagement.setSortField('userEmail')">User Email <span ng-if="qmeUserManagement.isSortAsc('userEmail')" ng-click="qmeUserManagement.sortDesc('userEmail')" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="(qmeUserManagement.isSortDesc('userEmail'))" ng-click="qmeUserManagement.sortAsc('userEmail')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th ng-dblClick="qmeUserManagement.setSortField('userFirstName')">First Name <span ng-if="qmeUserManagement.isSortAsc('userFirstName')" ng-click="qmeUserManagement.sortDesc('userFirstName')" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="(qmeUserManagement.isSortDesc('userFirstName'))" ng-click="qmeUserManagement.sortAsc('userFirstName')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th ng-dblClick="qmeUserManagement.setSortField('userLastName')">Last Name  <span ng-if="qmeUserManagement.isSortAsc('userLastName')" ng-click="qmeUserManagement.sortDesc('userLastName')" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="(qmeUserManagement.isSortDesc('userLastName'))" ng-click="qmeUserManagement.sortAsc('userLastName')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th>Registered Date</th>
                        <th>Last Login Date</th>
                        <th>User Roles</th>
                    </tr>
                </thead>
                <tr ng-repeat="user in qmeUserManagement.users">
                    <td>{{user.userName}}</td>
                    <td>{{user.userEmail}}</td>
                    <td>{{user.userFirstName}}</td>
                    <td>{{user.userLastName}}</td>
                    <td>{{user.userRegisteredDate}}</td>
                    <td>{{user.userLastLoginDate}}</td>
                    <td>{{user.userRoles}}</td>
                </tr>
            </table>
            <qme-page ng-if="qmeUserManagement.recordsLoaded()" qme-totalcount="qmeUserManagement.totalRecords()" qme-pagingfunction="qmeUserManagement.pageUsers"></qme-page>
        </div>
    </div>
</div>