<div class="container-fluid" ng-controller="qmeUserManagementCtrl as qmeUserManagement" ng-init="qmeUserManagement.listUsers()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">User List</h3>
        </div>
        <div class="panel-body">
            <qme-page ng-if="qmeUserManagement.recordsLoaded()" qme-totalcount="qmeUserManagement.totalRecords()" qme-pagingfunction="qmeUserManagement.pageUsers"></qme-page>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="10%" ng-dblClick="qmeUserManagement.setSortField('USERNAME')">User Name  <span ng-if="qmeUserManagement.isSortAsc('USERNAME')" ng-click="qmeUserManagement.sortDesc('USERNAME')" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="(qmeUserManagement.isSortDesc('USERNAME'))" ng-click="qmeUserManagement.sortAsc('USERNAME')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="10%" ng-dblClick="qmeUserManagement.setSortField('EMAIL')">User Email <span ng-if="qmeUserManagement.isSortAsc('EMAIL')" ng-click="qmeUserManagement.sortDesc('EMAIL')" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="(qmeUserManagement.isSortDesc('EMAIL'))" ng-click="qmeUserManagement.sortAsc('EMAIL')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="12%" ng-dblClick="qmeUserManagement.setSortField('FIRSTNAME')">First Name <span ng-if="qmeUserManagement.isSortAsc('FIRSTNAME')" ng-click="qmeUserManagement.sortDesc('FIRSTNAME')" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="(qmeUserManagement.isSortDesc('FIRSTNAME'))" ng-click="qmeUserManagement.sortAsc('FIRSTNAME')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="12%" ng-dblClick="qmeUserManagement.setSortField('LASTNAME')">Last Name  <span ng-if="qmeUserManagement.isSortAsc('LASTNAME')" ng-click="qmeUserManagement.sortDesc('LASTNAME')" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="(qmeUserManagement.isSortDesc('LASTNAME'))" ng-click="qmeUserManagement.sortAsc('LASTNAME')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="20%" ng-dblClick="qmeUserManagement.setSortField('REGISTERDATE')">Registered Date <span ng-if="qmeUserManagement.isSortAsc('REGISTERDATE')" ng-click="qmeUserManagement.sortDesc('REGISTERDATE')" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="(qmeUserManagement.isSortDesc('REGISTERDATE'))" ng-click="qmeUserManagement.sortAsc('REGISTERDATE')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="20%" ng-dblClick="qmeUserManagement.setSortField('LOGINDATE')">Last Login Date <span ng-if="qmeUserManagement.isSortAsc('LOGINDATE')" ng-click="qmeUserManagement.sortDesc('LOGINDATE')" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="(qmeUserManagement.isSortDesc('LOGINDATE'))" ng-click="qmeUserManagement.sortAsc('LOGINDATE')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="16%">User Roles</th>
                    </tr>
                </thead>
                <tr ng-repeat="user in qmeUserManagement.users">
                    <td>{{user.userName}}</td>
                    <td>{{user.userEmail}}</td>
                    <td>{{user.userFirstName}}</td>
                    <td>{{user.userLastName}}</td>
                    <td>{{user.userRegisteredDate}}</td>
                    <td>{{user.userLastLoginDate}}</td>
                    <td>{{user.userRoles.join(" , ");}}</td>
                </tr>
            </table>
            <qme-page ng-if="qmeUserManagement.recordsLoaded()" qme-totalcount="qmeUserManagement.totalRecords()" qme-pagingfunction="qmeUserManagement.pageUsers"></qme-page>
        </div>
    </div>
</div>