<div id="qmePrimaryNav" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span id="qmeAppHeader">QMe Application</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form name="qmeUserCtrl.signInForm" class="navbar-form navbar-right" ng-show="!qmeUserCtrl.isRegistering() && !qmeUserCtrl.isResetingPassword() && !qmeUserCtrl.isSignedIn()" >
                <div class="form-group">
                    <input type="email" maxlength="125" id="emailField" ng-model="qmeUserCtrl.userEmail" placeholder="email@example.com" class="form-control" ng-required="true">
                </div>
                <div class="form-group">
                    <input type="password" maxlength="128" id="passwordField" ng-model="qmeUserCtrl.userPassword" placeholder="Password" class="form-control" ng-required="true">
                </div>
                <button id="signInButton" type="submit" class="btn btn-success btn-sm"  ng-click="qmeUserCtrl.performSignIn()" ng-disabled="qmeUserCtrl.signInForm.$invalid">Sign in</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button id="registerButton" type="button" class="btn btn-info btn-xs" ng-click="qmeUserCtrl.routeStaging()">Register</button>
                &nbsp;
                <button id="forgotButton" type="button" class="btn btn-info btn-xs" ng-click="qmeUserCtrl.routeResetPassword()">Forgot Password</button>
            </form>
            <button id="homeButton" ng-show="(qmeUserCtrl.isRegistering() || qmeUserCtrl.isResetingPassword()) && !qmeUserCtrl.signedIn" type="button" class="btn btn-info btn-xs navbar-btn navbar-right" ng-click="qmeUserCtrl.cancelResetRegistration()">Home</button>
            <ul class="nav navbar-nav navbar-right" ng-show="qmeUserCtrl.isSignedIn()">
                <li class="dropdown">
                    <a id="userNameMenuId" ng-show="qmeUserCtrl.isSignedIn()" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> &nbsp; <span id="loginName" ng-cloak> {{qmeUserCtrl.userNameDisplay()}} </span> &nbsp; <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a id="profileLinkId" href="#" ng-click="qmeUserCtrl.routeUserProfile()">Profile</a></li>
                        <li><a id="logoutLinkId"  href="#" ng-click="qmeUserCtrl.logout()">Sign-out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="qmeSecondaryNav" class="navbar navbar-default navbar-static-top" ng-controller="qmeNavCtrl as qmeNav">
    <div ng-show="qmeNav.isSignedIn()" class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{ active: qmeNav.isActive('home') }"><a href="#" ng-click="qmeNav.routeHome()">Home</a></li>
                <li role="presentation" ng-class="{ active: qmeNav.isActive('listusers') }" ng-show="qmeNav.isAdmin()" ><a href="#" ng-click="qmeNav.routeUsers()">Users</a></li>
                <li role="presentation" ng-class="{ active: qmeNav.isActive('listcategories') }" ng-show="qmeNav.isAdmin()" ><a href="#" ng-click="qmeNav.routeCategories()">Categories</a></li>
                <li role="presentation" ng-class="{ active: qmeNav.isActive('listquestions') }" ng-show="qmeNav.isAdmin()" ><a href="#" ng-click="qmeNav.routeQuestions()">Questions</a></li>
                <li role="presentation" ng-class="{ active: qmeNav.isActive('listquizzes') }" ng-show="qmeNav.isAdmin()" ><a href="#" ng-click="qmeNav.routeQuizzes()">Quizzes</a></li>
            </ul>
        </div>
    </div>
</div>



