<div id="qmePrimaryNav" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span id="qmeAppHeader">QMe Application</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form name="qmeUserCtrl.signInForm" class="navbar-form navbar-right" ng-show="!qmeUserCtrl.isRegistering() && !qmeUserCtrl.isResetingPassword() && !qmeUserCtrl.isSignedIn()" >
                <div class="form-group">
                    <input type="email" maxlength="125" id="emailField" ng-model="qmeUserCtrl.userEmail" placeholder="email@example.com" class="form-control" ng-required="true">
                </div>
                <div class="form-group">
                    <input type="password" maxlength="128" id="passwordField" ng-model="qmeUserCtrl.userPassword" placeholder="Password" class="form-control" ng-required="true">
                </div>
                <button id="signInButton" type="submit" class="btn btn-success btn-sm"  ng-click="qmeUserCtrl.performSignIn()" ng-disabled="qmeUserCtrl.signInForm.$invalid">Sign in</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button id="registerButton" type="button" class="btn btn-info btn-xs" ng-click="qmeUserCtrl.routeStaging()">Register</button>
                &nbsp;
                <button id="forgotButton" type="button" class="btn btn-info btn-xs" ng-click="qmeUserCtrl.routeResetPassword()">Forgot Password</button>
            </form>
            <button id="homeButton" ng-show="(qmeUserCtrl.isRegistering() || qmeUserCtrl.isResetingPassword()) && !qmeUserCtrl.signedIn" type="button" class="btn btn-info btn-xs navbar-btn navbar-right" ng-click="qmeUserCtrl.cancelResetRegistration()">Home</button>
            <ul class="nav navbar-nav navbar-right" ng-show="qmeUserCtrl.isSignedIn()">
                <li class="dropdown">
                    <a id="userNameMenuId" ng-show="qmeUserCtrl.isSignedIn()" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> &nbsp; <span id="loginName" ng-cloak> {{qmeUserCtrl.userNameDisplay()}} </span> &nbsp; <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a id="profileLinkId" href="#" ng-click="qmeUserCtrl.routeUserProfile()">Profile</a></li>
                        <li><a id="logoutLinkId"  href="#" ng-click="qmeUserCtrl.logout()">Sign-out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="qmeSecondaryNav" class="navbar navbar-default navbar-static-top" ng-controller="qmeNavCtrl as qmeNav">
    <div ng-show="qmeNav.isSignedIn()" class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav nav-pills">

                <!-- Home Routes -->
                <li role="presentation" ng-class="{ active: qmeNav.isActive('[home]') }">
                    <a id="homeNavLinkId" href="#" ng-click="qmeNav.routeHome()">Home</a>
                    <div class="dropdown" ng-show="qmeNav.isActive('[home]')">
                        <a id="dHomeLabelId" href="#" role="presentation" ><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                    </div>
                </li>

                <!-- User Routes -->
                <li role="presentation" ng-class="{ active: qmeNav.isActive('[listusers,adduser,updateuser]') }" ng-show="qmeNav.isAdmin()" >
                    <a id="usersNavLinkId" href="#" ng-click="qmeNav.routeUsers()">Users</a>
                    <div class="dropdown" ng-show="qmeNav.isActive('[listusers,adduser,updateuser]')">
                        <a id="dUserLabelId" href="#" data-toggle="dropdown" role="presentation" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-show="qmeNav.isAdmin()"><a href="#" id="addNewUserId" ng-click="qmeNav.routeAddUser();">Add New User</a></li>
                        </ul>
                    </div>
                </li>

                <!-- Category Routes -->
                <li role="presentation" ng-class="{ active: qmeNav.isActive('[listcategories]') }" ng-show="qmeNav.isAdmin()" >
                    <a id="categoriesNavLinkId" href="#" ng-click="qmeNav.routeCategories()">Categories</a>
                    <div class="dropdown" ng-show="qmeNav.isActive('[listcategories]')">
                        <a id="dCategoryLabelId" href="#" role="presentation" ><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                    </div>
                </li>

                <!-- Question Routes -->
                <li role="presentation" ng-class="{ active: qmeNav.isActive('[listquestions, addquestion, updatequestion]') }" ng-show="qmeNav.isAdmin()" >
                    <a id="questionsNavLinkId" href="#" ng-click="qmeNav.routeQuestions()">Questions</a>
                    <div class="dropdown" ng-show="qmeNav.isActive('[listquestions,addquestion,updatequestion]')">
                        <a id="dQuestionLabelId" href="#" data-toggle="dropdown" role="presentation" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-show="qmeNav.isAdmin()"><a href="#" id="addNewQuestionId" ng-click="qmeNav.routeAddQuestion();">Add New Question</a></li>
                        </ul>
                    </div>
                </li>

                <!-- Quiz Routes -->
                <li role="presentation" ng-class="{ active: qmeNav.isActive('[listquizzes, addquiz, updatequiz]') }" ng-show="qmeNav.isAdmin()" >
                    <a id="quizzesNavLinkId" href="#" ng-click="qmeNav.routeQuizzes()">Quizzes</a>
                    <div class="dropdown" ng-show="qmeNav.isActive('[listquizzes, addquiz, updatequiz]')">
                        <a id="dQuizLabelId" href="#" data-toggle="dropdown" role="presentation" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-show="qmeNav.isAdmin()"><a href="#" id="addNewQuizId" ng-click="qmeNav.routeAddQuiz();">Add New Quiz</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



