<div class="container-fluid" flow-init="{singleFile: false}" flow-name="uploader.main.flow" >
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Question</h3>
        </div>

        <div class="panel-body" ng-controller="qmeQuestionManagementCtrl as qmeQuestionManagement" ng-init="qmeQuestionManagement.loadCategories();">
            <div class="container-fluid">
                <form name="qmeQuestionManagement.addQuestionForm" class="form-horizontal">
                    <div style="margin-bottom: 25px" class="form-group">
                        <label  for="categoryId">Category:</label>
                        <select class="form-control" ng-model="qmeQuestionManagement.categoryId"  name="categoryId" id="categoryId" style="width:500px;" ng-required="true">
                            <option ng-repeat="category in qmeQuestionManagement.category | orderBy: 'categoryName'" title="{{category.categoryName}}" value="{{category.categoryId}}">{{category.categoryName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="questionText">Question Text:</label>
                        <textarea style="width:950px;" rows="2"  ng-model="qmeQuestionManagement.questionText" name="questionText" id="questionText" class="form-control" placeholder="Question Text" ng-required="true"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="answer">Answer:</label>
                        <textarea style="width:950px;" rows="4"  ng-model="qmeQuestionManagement.answer" name="answer" id="answer" class="form-control" placeholder="Answer Text" ng-required="true"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="questionPoint">Max Score:</label>
                        <input style="width:500px;" type="number" min="1" max="10" style="width:950px;" rows="2"  ng-model="qmeQuestionManagement.questionPoint" name="questionPoint" id="questionPoint" class="form-control" ng-required="true"></input>
                    </div>
                    <div class="form-group">
                         <label for="answerReferenceMedia">Answer Reference Media:</label>&nbsp;<a href="#" ng-click="qmeQuestionManagement.addAnswerReferenceMedia()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                         <table style="width:550px;" class ="table table-bordered table-striped" name="answerReferenceMedia" id="answerReferenceMedia" >
                                <thead>
                                    <tr>
                                        <th style="width:150px;">Media Type</th>
                                        <th style="width:400px;">Media</th>
                                        <th style="width:50px;"></th>
                                    </tr>
                                 </thead>
                                 <tr ng-repeat="answerRefMedia in qmeQuestionManagement.answerReferenceMedia">
                                    <td>{{answerRefMedia.mediaType.mediaTypeDesc}}</td>
                                    <td ng-show="answerRefMedia.mediaType.mediaTypeId === 'LINK'">{{answerRefMedia.media}}</td>
                                    <td ng-show="answerRefMedia.mediaType.mediaTypeId === 'IMAGE'">
                                        <img style="width:100px;height:100px"
                                             ng-show="answerRefMedia.mediaType.mediaTypeId === 'IMAGE'"
                                             flow-img="$flow.files[$index]" />
                                        {{answerRefMedia.mediaObjIndex}}
                                    </td>
                                    <td><a href="#" ng-click="qmeQuestionManagement.removeAnswerReferenceMedia($index);"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                                 </tr>
                         </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addMediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" ng-controller="qmeMediaModalCtrl as qmeMediaModalCtrl">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="qmeMediaModalCtrl.cancel()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mediaModalLabel">Reference Media</h4>
                </div>
                <div class="modal-body">
                    <form name="qmeMediaModalCtrl.mediaForm">
                        <div class="form-group">
                            <label  for="mediaTypeId">Media Type:</label>
                            <select class="form-control" ng-change="$flow.files[0].cancel();" ng-model="qmeMediaModalCtrl.selectedMediaType" name="mediaTypeId" id="mediaTypeId" style="width:150px;" ng-required="true">
                                <option ng-repeat="media in qmeMediaModalCtrl.mediaType" title="{{media.mediaTypeDesc}}" value="{{media.mediaTypeId}}">{{media.mediaTypeDesc}}</option>
                            </select>
                        </div>
                        <div ng-show="(qmeMediaModalCtrl.selectedMediaType && qmeMediaModalCtrl.selectedMediaType === 'IMAGE')" class="form-group">
                            <label for="mediaTypeImageUpload">Image Upload:</label>
                            <div name="mediaTypeImageUpload" id="mediaTypeImageUpload" flow-init="{singleFile: true}" flow-name="uploader.flow" flow-file-added="qmeMediaModalCtrl.handleFilesAdded($file, $event, $flow )">
                                <input ng-hide="qmeMediaModalCtrl.uploadedImage" name="flowFileUploadCtrl" id="flowFileUploadCtrl" type="file" flow-btn/>
                                <a ng-show="qmeMediaModalCtrl.uploadedImage" href="#" ng-click="$flow.files[0].cancel();qmeMediaModalCtrl.removeUploadedFile()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                <img style="width:250px;height:250px" ng-show="qmeMediaModalCtrl.uploadedImage" flow-img="$flow.files[0]" />
                            </div>
                        </div>
                        <div ng-show="(qmeMediaModalCtrl.selectedMediaType && qmeMediaModalCtrl.selectedMediaType === 'LINK')" class="form-group">
                            <label for="mediaTypeLink">Http Link:</label>
                            <input ng-model="qmeMediaModalCtrl.refLink" name="mediaTypeLink" id="mediaTypeLink" style="width:500px;" type="url" class="form-control" ng-required="true">

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button id="cancelButtonId" type="button" class="btn btn-default"  ng-click="qmeMediaModalCtrl.cancel()">Cancel</button>
                    <button id="saveButtonId" type="button" class="btn btn-info"  ng-click="qmeMediaModalCtrl.save()" ng-disabled="qmeMediaModalCtrl.isInValidForm()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
