<div class="container-fluid" ng-controller="qmeQuestionManagementCtrl as qmeQuestionManagement" ng-init="qmeQuestionManagement.listQuestions();">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 id="questionHeaderId" class="panel-title">Question List</h3>
        </div>
        <div class="panel-body">
            <qme-page ng-if="qmeQuestionManagement.recordsLoaded()" qme-totalcount="qmeQuestionManagement.totalRecords()" qme-pagingfunction="qmeQuestionManagement.pageQuestions"></qme-page>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="10%"><span ng-Click="qmeQuestionManagement.setSortField('CATEGORY')">Category </span><span ng-if="qmeQuestionManagement.isSortAsc('CATEGORY')" ng-click="qmeQuestionManagement.sortDesc('CATEGORY')" class="glyphicon glyphicon-chevron-up"></span><span ng-if="qmeQuestionManagement.isSortDesc('CATEGORY')" ng-click="qmeQuestionManagement.sortAsc('CATEGORY')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="10%"><span ng-Click="qmeQuestionManagement.setSortField('QUESTION')">Question </span><span ng-if="qmeQuestionManagement.isSortAsc('QUESTION')" ng-click="qmeQuestionManagement.sortDesc('QUESTION')" class="glyphicon glyphicon-chevron-up"></span><span ng-if="qmeQuestionManagement.isSortDesc('QUESTION')" ng-click="qmeQuestionManagement.sortAsc('QUESTION')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="12%"><span ng-Click="qmeQuestionManagement.setSortField('QUESTIONPOINT')">Point </span><span ng-if="qmeQuestionManagement.isSortAsc('QUESTIONPOINT')" ng-click="qmeQuestionManagement.sortDesc('QUESTIONPOINT')" class="glyphicon glyphicon-chevron-up"></span><span ng-if="qmeQuestionManagement.isSortDesc('QUESTIONPOINT')" ng-click="qmeQuestionManagement.sortAsc('QUESTIONPOINT')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="12%"><span ng-Click="qmeQuestionManagement.setSortField('QUESTIONLIKES')">Likes </span><span ng-if="qmeQuestionManagement.isSortAsc('QUESTIONLIKES')" ng-click="qmeQuestionManagement.sortDesc('QUESTIONLIKES')" class="glyphicon glyphicon-chevron-up"></span><span ng-if="qmeQuestionManagement.isSortDesc('QUESTIONLIKES')" ng-click="qmeQuestionManagement.sortAsc('QUESTIONLIKES')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="20%"><span ng-Click="qmeQuestionManagement.setSortField('QUESTIONCREATEDATE')">Update Date </span><span ng-if="qmeQuestionManagement.isSortAsc('QUESTIONCREATEDATE')" ng-click="qmeQuestionManagement.sortDesc('QUESTIONCREATEDATE')" class="glyphicon glyphicon-chevron-up"></span><span ng-if="qmeQuestionManagement.isSortDesc('QUESTIONCREATEDATE')" ng-click="qmeQuestionManagement.sortAsc('QUESTIONCREATEDATE')" class="glyphicon glyphicon-chevron-down"></span></th>
                        <th width="20%"><span ng-Click="qmeQuestionManagement.setSortField('QUESTIONCREATEUSER')">User </span><span ng-if="qmeQuestionManagement.isSortAsc('QUESTIONCREATEUSER')" ng-click="qmeQuestionManagement.sortDesc('QUESTIONCREATEUSER')" class="glyphicon glyphicon-chevron-up"></span><span ng-if="qmeQuestionManagement.isSortDesc('QUESTIONCREATEUSER')" ng-click="qmeQuestionManagement.sortAsc('QUESTIONCREATEUSER')" class="glyphicon glyphicon-chevron-down"></span></th>
                    </tr>
                </thead>
                <tr ng-repeat="question in qmeQuestionManagement.questions">
                    <td>{{question.categoryName}}</td>
                    <td><a href="#" id="{{'questionId' + $index}}" ng-click="qmeQuestionManagement.updateQuestion(question)">{{question.questionText}}</a></td>
                    <td>{{question.questionPoint}}</td>
                    <td>{{question.likes}}</td>
                    <td>{{question.questionCreateDate}}</td>
                    <td>{{question.udateUserName}}</td>
                </tr>
            </table>
            <qme-page ng-if="qmeQuestionManagementCtrl.recordsLoaded()" qme-totalcount="qmeQuestionManagementCtrl.totalRecords()" qme-pagingfunction="qmeQuestionManagementCtrl.pageQuestions"></qme-page>
        </div>
    </div>
</div>