<div class="container-fluid" ng-controller="qmeQuestionManagementCtrl as qmeQuestionManagement" ng-init="qmeQuestionManagement.selectedQuestion()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Update Question</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <form name="qmeQuestionManagement.updateQuestionForm" class="form-horizontal">
                    <div class="form-group">
                        <label  for="categoryName">Category:</label>
                        <input style="width:500px;" type="text" min="1" max="10" style="width:950px;" ng-disabled="true" ng-model="qmeQuestionManagement.categoryName" name="categoryName" id="categoryName" class="form-control" ng-required="false"/>
                    </div>
                    <div class="form-group">
                        <label for="questionPoint">Max Score:</label>
                        <input style="width:500px;" type="number" min="1" max="10" style="width:950px;" rows="2"  ng-model="qmeQuestionManagement.questionPoint" name="questionPoint" id="questionPoint" class="form-control" ng-required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="questionText">Question Text:</label>
                        <textarea style="width:950px;" rows="3" ng-model="qmeQuestionManagement.questionText" name="questionText" id="questionText" class="form-control" placeholder="Question Text" ng-required="true"></textarea>
                    </div>
                    <div class="form-group" flow-init="{singleFile: false}" flow-name="qmeQuestionManagement.uploaderAnswerOptionFlow" ng-init="qmeQuestionManagement.loadAnswerOptions()">
                        <label for="answerOption">Answer Options:</label>&nbsp;<a ng-show="(qmeQuestionManagement.answerOptions.length < 5 )" ng-href="#" ng-click="qmeQuestionManagement.addAnswerOptions();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                        <div class="container">
                            <table style="width: 80%" class="table table-bordered table-striped" name="answerReferenceMedia" id="answerOption" >
                                <thead>
                                <tr>
                                    <th style="width: 43%">Option</th>
                                    <th style="width: 3%">Correct/Incorrect</th>
                                    <th style="width: 52%">Media</th>
                                    <th style="width: 2%">Manage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="answerOption in qmeQuestionManagement.answerOptions">
                                    <td>{{answerOption.answerOption}}</td>
                                    <td>{{answerOption.answerCorrect ? 'Correct' : 'Incorrect'}}</td>
                                    <td ng-show="answerOption.mediaType.mediaTypeId === 'IMAGE'">
                                        <div class="thumbnail" ng-show="$flow.files.length">
                                            <img ng-show="answerOption.mediaType.mediaTypeId === 'IMAGE'" flow-img="$flow.files[$index]" />
                                        </div>
                                    </td>
                                    <td ng-show="answerOption.mediaType.mediaTypeId === undefined"></td>
                                    <td><a href="#" ng-click="qmeQuestionManagement.removeAnswerOption($index);"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <button id="submitUpdateQuestionButton" type="submit" class="btn btn-info btn-sm" ng-click="qmeQuestionManagement.submitUpdateQuestion()" ng-disabled="updateQuestionForm.$invalid">Update Question</button>
                     &nbsp;&nbsp;
                    <button id="cancelButton" type="button" class="btn btn-info btn-sm" ng-click="qmeQuestionManagement.cancelUpdateQuestion()">Cancel</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="deleteButton" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#qmeConfirmModel">Delete</button>
                    <qme-confirm header-message="'Delete Question'" body-message="'Are you sure you want to delete question ?'" function-call="qmeQuestionManagement.deleteQuestion" function-param="qmeQuestionManagement.questionId"></qme-confirm>

                </form>
            </div>
        </div>
    </div>
</div>