<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Quiz</h3>
        </div>
        <div class="panel-body" ng-controller="qmeQuizManagementCtrl as qmeQuizManagement" ng-init="qmeQuizManagement.loadCategories();">
            <div class="container-fluid">
                <form name="qmeQuizManagement.addQuizForm" class="form-horizontal">
                    <div class="form-group">
                        <label  for="categoryId">Category:</label>
                        <select class="form-control" ng-model="qmeQuizManagement.categoryId"  name="categoryId" id="categoryId" style="width:500px;" ng-required="true" ng-change="qmeQuizManagement.clearQuestion(qmeQuizManagement.categoryId,'{{qmeQuizManagement.categoryId}}');" ng-options="category.categoryId as category.categoryName for category in qmeQuizManagement.category | orderBy: 'categoryName'"></select>
                    </div>
                    <div class="form-group">
                        <label for="quizName">Name:</label>
                        <input style="width:950px;" rows="3"  ng-model="qmeQuizManagement.quizName" name="quizName" id="quizName" class="form-control" placeholder="Quiz Name" ng-disabled="!(qmeQuizManagement.categoryId)" ng-required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="quizDesc">Description:</label>
                        <textarea style="width:950px;" rows="3"  ng-model="qmeQuizManagement.quizDesc" name="quizDesc" id="quizDesc" class="form-control" placeholder="Description" ng-disabled="!(qmeQuizManagement.categoryId)" ng-required="true"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="answerOption">Quiz Questions :</label>&nbsp;<a ng-show="(qmeQuizManagement.quizQuestions .length < 101 )" ng-href="#" ng-click="qmeQuizManagement.addQuizQuestion();" ng-hide="!(qmeQuizManagement.categoryId)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                        <table border="1" style="width:950px;" class="table table-bordered table-striped" name="answerOption" id="answerOption">
                            <thead>
                                <tr>
                                    <th style="width: 5%">ID</th>
                                    <th style="width: 8%">Point</th>
                                    <th style="width: 85%">Question</th>
                                    <th style="width: 2%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="quizQuestion in qmeQuizManagement.quizQuestions">
                                    <td>{{quizQuestion.questionId}}</td>
                                    <td>{{quizQuestion.questionPoint}}</td>
                                    <td>{{quizQuestion.questionText}}</td>
                                    <td><a href="#" ng-click="qmeQuizManagement.removeQuizQuestion($index);"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addQuestionsModal" tabindex="-1" role="dialog" aria-labelledby="questionsModalLabel" ng-controller="qmeQuizManagementCtrl as qmeQuizManagement">
    <div class="modal-dialog" style="width:95%;" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="qmeQuizManagement.cancelQuestions()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="optionsModalLabel">Questions</h4>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                <qme-select-question></qme-select-question>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="categoryChangeConfirm" tabindex="-1" role="dialog" aria-labelledby="categoryChangeConfirmModalLabel" ng-controller="qmeQuizManagementCtrl as qmeQuizManagement">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="qmeQuizManagement.cancelChangeCategory()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="categoryChangeConfirmModalLabel">Change Category</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to change category ?, All selected questions will be cleared out.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmCancelID" class="btn btn-info" data-dismiss="modal" ng-click="qmeQuizManagement.clearAllQuestions(false)">Cancel</button>
                <button type="button" id="confirmSubmitID" class="btn btn-danger" data-backdrop="false" data-dismiss="modal" ng-click="qmeQuizManagement.clearAllQuestions(true)">OK</button>
            </div>
        </div>
    </div>
</div>
